@CHARSET 	"UTF-8";
@import 	"classes.css";/*Klasy i tagi ogólnie używane i do tinyMCE*/



td{
	padding:8px;
	border-top:solid 1px #ADAEB3;
}



a{
	border:solid 0px;
}

th{
	font-size:0.8em;
	font-weight:normal;
	letter-spacing:1.5px;
}

.min{
	padding:2px;
	border:solid 1px;
}