@CHARSET 	"UTF-8";

body{
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size:14px;
	color:#000000;
	background: url("../gfx/baseline.png") repeat-y top center;
}

a {
	color:#b60e0e;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

input, select, texarea{
	color:#909090;
	font-size: 11px;
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica;
	border:1px solid #E6E6E6;
	padding:6px;
}

.background{
	background: url("../gfx/background.png") no-repeat top center;
	overflow: hidden;
}

.info {
	color: #810A0A;
	text-transform: uppercase;
	font-size: 26px;
	font-family: 'Myriad Pro';
	text-shadow:1px 1px 1px #810A0A;
}

.bg-main {
	background-color: #810A0A;
}

.container {
	max-width: 1024px;
}

.navbar a {
	color: #fff;
	/* font-style: italic; */
	text-transform: uppercase;
	font-family: 'Myriad Pro';
	text-decoration: none;
	/* text-shadow:1px 2px 1px #810A0A; */
}

.navbar a:hover, a.active{
	color: #000;
 }

.col.header {
	font-family: 'Titillium Web'; 
	color: #b60e0e;
	text-transform: uppercase;
	font-size: 30px;
	text-shadow:1px 1px 1px #FFFFFF;
}

.col.header span {
	color: #000000;
}

.picture {
	border: 1px solid #bbbbbb;
	background-color: #FFFFFF99;
	padding: 6px;
	margin-bottom: 15px;
}

.specification{
	margin-left: 5px;
}

.specification span{
	background: url("../gfx/arrow.png") no-repeat left center;
	padding: 0 0 5px 15px;
	display: block;
}

.footer{
	text-align: center;
	font-size: 11px;
	margin-bottom: 20px;
}

.bottom_line{
	background: url("../gfx/bottom_line.gif") no-repeat left top;
	height: 24px;
}